/**
This file is used to manage the PrimeVue Components sizes overrides that are not managed by the theme
*/

/* Buttons */
Button:not(.p-button-vertical) {
  height: 2.5rem;
  max-height: 2.5rem;
}

Button.p-button-lg:not(.p-button-vertical) {
  height: 3rem;
  max-height: 3rem;
}

Button.p-button-sm:not(.p-button-vertical) {
  height: 2rem;
  max-height: 2rem;
}

/* Inputs */
Input {
  height: 2.5rem;
  max-height: 2.5rem;
}

Input.p-inputtext-lg {
  height: 3rem;
  max-height: 3rem;
}

Input.p-inputtext-sm {
  height: 2rem;
  max-height: 2rem;
}

/* Select */
.p-select {
  height: 2.5rem;
  max-height: 2.5rem;
  .p-select-label {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.p-select-lg {
  height: 3rem !important;
  max-height: 3rem !important;
}

.p-select-sm {
  height: 2rem !important;
  max-height: 2rem !important;
}

/* Remove popover arrows */
.p-popover::after,
.p-popover::before {
  display: none !important;
}

.p-tree {
  font-size: 0.875rem;
  --p-icon-size: 0.875rem;
  --p-tree-node-toggle-button-size: 0.875rem;
}
