:root {
  /* Light Theme (default) */

  --surface-0: var(--color-white);
  --surface-1: var(--color-neutral-50);
  --surface-2: var(--color-neutral-100);
  --surface-3: var(--color-neutral-200);

  --primary: var(--color-primary-600);

  --primary-hover: var(--color-primary-500);
  --primary-active: var(--color-primary-700);

  --primary-hover-transparent: color-mix(
    in srgb,
    var(--color-primary-400) 90%,
    transparent
  ); /* 10% transparency */
  --primary-active-transparent: color-mix(
    in srgb,
    var(--color-primary-400) 90%,
    transparent
  ); /* 10% transparency */

  --surface-login-card: rgba(21, 18, 40, 0.8);
}

/* Dark Theme */
[data-theme='dark'] {
  --surface-0: var(--color-neutral-980);
  --surface-1: var(--color-neutral-960);
  --surface-2: var(--color-neutral-940);
  --surface-3: var(--color-neutral-920);

  --primary: var(--color-primary-400);
  --primary-hover: var(--color-primary-300);
  --primary-active: var(--color-primary-500);

  --surface-login-card: rgba(239, 239, 255, 0.8);
}
