:root {
  /* General Colors */
  --color-black: #000000;
  --color-white: #ffffff;

  /* Color Palettes */

  /* Primary Colors */
  --color-primary-50: #eef2ff;
  --color-primary-100: #e1e6fe;
  --color-primary-200: #c9d2fc;
  --color-primary-300: #a8b4f9;
  --color-primary-400: #848df5;
  --color-primary-500: #5757eb;
  --color-primary-600: #564be0;
  --color-primary-700: #4a3cc6;
  --color-primary-800: #3c33a0;
  --color-primary-900: #35307f;
  --color-primary-950: #201c4a;

  /* Neutral Colors */
  --color-neutral-0: #ffffff;
  --color-neutral-50: #f6f6f9;
  --color-neutral-100: #ededf1;
  --color-neutral-200: #d6d6e1;
  --color-neutral-300: #b3b5c6;
  --color-neutral-400: #8a8da6;
  --color-neutral-500: #6b6e8c;
  --color-neutral-600: #565873;
  --color-neutral-700: #46475e;
  --color-neutral-800: #3d3e4f;
  --color-neutral-900: #363744;
  --color-neutral-920: #2a2a34;
  --color-neutral-940: #191920;
  --color-neutral-960: #0b0b0e;
  --color-neutral-980: #060608;
  --color-neutral-1000: #000000;
}

/* --surface-0: #060608;
--surface-1: #0b0b0e;
--surface-2: #191920;
--surface-3: #2a2a34; */
